<div class="container">
  <div class="row">
    <input type="text" class="form-control" id="search" placeholder="search" [(ngModel)]="searchText" name="search"/>
    <div *ngFor="let recipe of recipes?.recipes | filter : searchText">
      <h2>{{ recipe?.name }}</h2>
      <body> {{ recipe?.instructions }}</body>
    </div>
  </div>
</div>
