<form #f="ngForm" data-toggle="validator" (ngSubmit)="submit(f)">
  <body>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Contact Us:</h1>

        <div *ngIf="success" class="alert alert-success">Successful submission</div>
        <div class="form-group">
          <label for="name">Name: </label>
          <input type="text" class="form-control" id="name" placeholder="Name"
                 [(ngModel)]="contact.name" name="name" #contactName="ngModel"
                 required minlength="1">
          <div *ngIf="contactName.touched && !contactName.valid" class="alert alert-danger">Name needed</div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Email Address"
                 [(ngModel)]="contact.email" name="email" #contactEmail="ngModel"
                 pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(.\w{2,3})+$" required>
          <div *ngIf="contactEmail.touched && !contactEmail.valid" class="alert alert-danger">
            Email needed, format: username@address.com</div>
        </div>
        <div class="form-group">
          <label for="phone">Mobile Number:</label>
          <input type="number" class="form-control" id="phone" placeholder="Mobile Number"
                 [(ngModel)]="contact.phone" name="phone" #phone="ngModel"
                 required minlength="10" maxlength="11">
          <div *ngIf="phone.touched && !phone.valid" class="alert alert-danger">
            Mobile Number needed, with at least 10 numbers
          </div>
        </div>

        <div class="form-group">
          <label for="name">Message:</label><br/>

          <textarea class="form-control"
                    name="message"
                    id="message"
                    placeholder="Message Body"
                    [(ngModel)]="contact.message"
                    #message="ngModel"
                    required minlength="1">
          </textarea>
          <div *ngIf="message.touched && !message.valid" class="alert alert-danger">Message needed</div>
        </div>


        <div *ngIf="f.submitted && !f.valid" class="alert alert-danger">Please enter all fields before submission</div>
        <button class="btn btn-primary">Submit</button>

      </div>
    </div>
  </div>
  </body>
</form>
