<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">HelloFood</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/">Intro</a></li>
        <li><a routerLink="/recipe">Recipe</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <h5 class="pull-left">HelloFood</h5>
  <h5 class="pull-right">HelloFood</h5>
</div>
