/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4 {
  font-family: 'Rakkas';
}

body {
  font-family: 'Source Sans Pro';
}


button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: solid;
  border-color: #101010;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
